{
	"presets": [
		[
			"@babel/env",
			{
				"shippedProposals": true,
				"targets": {
					"node": "current"
				}
			}
		]
	],
	"plugins": [
		"@babel/proposal-export-default-from",
		"@babel/proposal-class-properties",
		["@babel/proposal-object-rest-spread", { "useBuiltIns": true }]
	]
}
